#bars
{
    padding: 10px;
    margin: auto;
    height: 100px;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    /* border: 2px solid red; */
}
.small_bar
{
    display: inline;
    margin: 2px;
    color: blanchedalmond;
    border: 6px solid white;
    width: 9px;
    border-radius: 4px;
}
.select
{
    margin-left: 60px;
}
.emnei
{
    background-color:#282828;
    border-radius: 10px;
    padding: 7px 10px 7px 10px;
    color: blanchedalmond;
    font-weight: bold;
}